force-app/main/default/flows/Closed_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>ArchAssignment</name>
        <label>ArchAssignment</label>
        <locationX>528</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Arch_Hours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hours_per_Role_Assignment.Hours_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SoldHours_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ConsultAssignment</name>
        <label>ConsultAssignment</label>
        <locationX>792</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Consult_Hours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hours_per_Role_Assignment.Hours_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SoldHours_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DevAssignment</name>
        <label>DevAssignment</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Dev_Hours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hours_per_Role_Assignment.Hours_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SoldHours_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PMAssignment</name>
        <label>PMAssignment</label>
        <locationX>1056</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>PM_Hours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hours_per_Role_Assignment.Hours_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SoldHours_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SoldHours_Assignment</name>
        <label>SoldHours Assignment</label>
        <locationX>792</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>SoldHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Hours_per_Role_Assignment.Hours_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hours_per_Role_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>792</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>SoldHours_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isDev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hours_per_Role_Assignment.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Desarrollador</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DevAssignment</targetReference>
            </connector>
            <label>isDev</label>
        </rules>
        <rules>
            <name>isArch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hours_per_Role_Assignment.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arquitecto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ArchAssignment</targetReference>
            </connector>
            <label>isArch</label>
        </rules>
        <rules>
            <name>isConsult</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hours_per_Role_Assignment.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConsultAssignment</targetReference>
            </connector>
            <label>isConsult</label>
        </rules>
        <rules>
            <name>isPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hours_per_Role_Assignment.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PMAssignment</targetReference>
            </connector>
            <label>isPM</label>
        </rules>
    </decisions>
    <interviewLabel>Closed Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Closed Opportunity</label>
    <loops>
        <name>Hours_per_Role_Assignment</name>
        <label>Hours per Role Assignment</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>OLI_Objects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Project</name>
        <label>Create Project</label>
        <locationX>176</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arch_Hours__c</field>
            <value>
                <elementReference>Arch_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consult_Hours__c</field>
            <value>
                <elementReference>Consult_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dev_Hours__c</field>
            <value>
                <elementReference>Dev_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PM_Hours__c</field>
            <value>
                <elementReference>PM_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Manager__c</field>
            <value>
                <elementReference>$Record.Project_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sold_Hours__c</field>
            <value>
                <elementReference>SoldHours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pre Kick-off</stringValue>
            </value>
        </inputAssignments>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>OLI_Objects</name>
        <label>OLI Objects</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hours_per_Role_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OLI_Objects</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Arch_Hours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Consult_Hours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Dev_Hours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OLI_SObjects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>PM_Hours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SoldHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
