force-app/main/default/flows/Create_PLIs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <interviewLabel>Create PLIs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create PLIs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PLIs</name>
        <label>Create PLIs</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Create_PLIs_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Arquitecto</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_PLIs_0</name>
        <label>Create PLIs</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Create_PLIs_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Consultor</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_PLIs_0_0</name>
        <label>Create PLIs</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Create_PLIs_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Desarrollador</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_PLIs_0_0_0</name>
        <label>Create PLIs</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Project Manager</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_PLIs</targetReference>
        </connector>
        <object>Project__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
